:root {
  --badge-bg: #ecfdf3;
  --badge-text: #027a48;
  --white: #fff;
  --dropdown-bg: rgb(252, 253, 251);
  --shadow: rgba(32, 7, 65, 0.14);
  --container: 124rem;
  --nav-height: 6rem;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  /* padding: 0 3rem; */
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--nav-height);
  position: relative;
  background: var(--white);
  z-index: 1000;
  /* border-bottom: 0.1px solid #F45050; */
  box-shadow: 0px 4px 6px rgba(252, 224, 225, 0.7);
  padding: 0 3rem;
}
@media (max-width: 768px) {
  .navigation {
    padding: 0 2rem;
  }
}
.navigation .rightMainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav_list {
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  margin: 0 1.5rem;
}

.nav_action {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav_link,
.btn {
  display: flex;
  justify-content: center;
  gap: 0rem;
  font-weight: 400;
  margin-top: 5px;
}

.btn {
  background-color: #3c486b;
  color: #fff;
  padding: 0.5rem;
}

.btn-primary {
  display: inline-flex;
  color: var(--white);
  background: var(--primary);
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  border-radius: 1.5rem;
}

.nav_toggle {
  cursor: pointer;
  display: none;
}

/* ul li span {
    font-size: 20px;
} */

.dropdown {
  position: absolute;
  /* top: var(--nav-height); */
  left: 23%;
  width: 60%;
  background: rgb(252, 252, 252);
  /* border: "5px solid black"; */
  box-shadow: 0rem 0.2rem 0.5rem var(--shadow);
  /* box-shadow: 4px 4px 6px rgba(252, 224, 225, 1);  */
  /* box-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.3); */
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.5s ease-in;
}

.dropdown-company {
  position: absolute;
  /* top: var(--nav-height); */
  right: 47rem;
  /* width: 10%; */
  /* border-radius: 10%; */
  background: rgb(252, 252, 252);
  /* border: "5px solid black"; */
  box-shadow: 0rem 0.2rem 0.5rem var(--shadow);
  /* box-shadow: 4px 4px 6px rgba(252, 224, 225, 1);  */
  /* box-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.3); */
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.5s ease-in;
}

.dropdown-resource {
  position: absolute;
  /* top: var(--nav-height); */
  right: 12rem;
  /* width: 10%; */
  background: rgb(252, 252, 252);
  /* border: "5px solid black"; */
  box-shadow: 0rem 0.2rem 0.5rem var(--shadow);
  /* box-shadow: 4px 4px 6px rgba(252, 224, 225, 1);  */
  /* box-shadow: 
    2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.3); */
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: all 0.5s ease-in;
}

.dropdown-inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  padding: 2rem;
  font-weight: 200;

  border: 1px solid rgb(209, 208, 208);
  overflow: hidden;
}

.dropdown-inner-company {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  font-weight: 400;
  border-radius: 5% 0% 5% 5%;
  border: 1px solid rgb(209, 208, 208);
  overflow: hidden;
}

.dropdown-inner-resource {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));

  font-weight: 400;
  border-radius: 5% 0% 5% 5%;
  border: 1px solid rgb(209, 208, 208);
  overflow: hidden;
}

.company-option {
  padding: 10px;
  margin: 5 5 5 5;
}
.company-option:hover {
  background-color: #f45050;
}

.resource-option {
  padding: 8px;
  margin: 5 5 5 5;
}
.resource-option:hover {
  background-color: #f45050;
}
.company-option {
  padding: 8px;
  margin: 5 5 5 5;
}

.resource-option {
  padding: 8px;
  margin: 5 5 5 5;
}

.nav_list_menu:hover ion-icon {
  transition: all 0.5s ease-in;
  transform: rotate(180deg);
}

.nav_list_menu:hover .dropdown {
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}

.nav_list_menu:hover .dropdown-company {
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}
.nav_list_menu:hover .dropdown-resource {
  clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}

.item-list {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin: 0.5rem 0;
}

.item-list-company {
  display: flex;
  align-items: center;
}

.item-list-resource {
  display: flex;
  align-items: center;
}

.item-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
}

.item-list-info {
  position: relative;
  width: 80%;
  padding: 10px;
  /* padding: 10px; */
}
.item-list-info:hover {
  background: #f45050;
  padding: 10px;
  width: 80%;
}

.item-list-info-company {
  margin-left: 10%;
  position: relative;
  width: 100%;
}

.item-list-info-resource {
  margin-left: 10%;
  position: relative;
  width: 100%;
}

.info-badge {
  position: absolute;
  right: 1rem;
  top: 0;
  background: var(--badge-bg);
  padding: 0.1rem 0.5rem;
  border-radius: 1rem;
  color: var(--badge-text);
}

@media (max-width: 730px) {
  .nav_toggle {
    display: block;
  }

  .nav_menu {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    background: var(--dropdown-bg);
    display: none;
  }

  .nav_menu.active {
    display: block;
  }

  .nav_list {
    display: block;
    margin: 2rem 0;
    text-align: center;
  }

  .nav_link {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown {
    top: 0;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    box-shadow: none;
    height: 0;
    text-align: start;
    transition: all 0.5s ease-in;
    width: 80%;
    left: 10%;
  }

  .dropdown-company {
    top: 0;
    right: 0%;
    left: 10%;
    width: 80%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    box-shadow: none;
    height: 0;
    text-align: start;
    transition: all 0.5s ease-in;
    /* border-radius: 10%;
        border: 2px solid black; */
  }

  .dropdown-resource {
    top: 0;
    right: 0;
    left: 10%;
    width: 80%;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    box-shadow: none;
    height: 0;
    text-align: start;
    transition: all 0.5s ease-in;
  }

  .nav_list_menu:hover .dropdown {
    height: 100%;
    transition: all 0.5s ease-in;
  }

  .nav_list_menu:hover .dropdown-company {
    height: 100%;
    transition: all 0.5s ease-in;
  }

  .nav_list_menu:hover .dropdown-resource {
    height: 100%;
    transition: all 0.5s ease-in;
  }
}

@media (max-width: 365px) {
  .logo-img {
    width: 10rem;
  }

  .btn,
  .btn-primary {
    padding: 0.4rem 1rem;
  }
}
